*{
    margin: 0;
    box-sizing: border-box;
}
.menu{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.anteprima{
    width: 100%;
    padding: 3rem;
    background-color: lightslategray;
    display: flex;
    align-items: center;
}
.container{
    width: 100%;
    
}
.search-element{
    width: 400px;
    height: 40px;
    background-color: lightcoral;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.top-anteprima{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.max-width-container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}
.card{
    width: 200px;
    
    background-color: aqua;
    
}
.top-card{
    width: 100%;
    aspect-ratio: 1.3;
    background-color: white;
}
.main-anteprima{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    
}
